html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #212121;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  gap: 1rem;
}

.container .student {
  border: solid 1px #212121;
  border-radius: .3rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1% 2%;
}


.container .student h1 {
  font-size: 1.25rem;
}

.container .statistics {
  box-sizing: border-box;
  border: solid 1px #212121;
  border-radius: .3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1% 2%;
  text-align: left;
}

.container .search-bar {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.container .search-bar input {
  padding: 0.5rem;
  width: 50%;
}

.container .student-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  min-height: 20rem;
  width: 100%;
}

.container .no-match-msg {
  text-align: center;
  font-size: 1.2rem;
  color: #999;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  width: 100%;
  height: 100%;
}