.insert-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
}

.insert-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.insert-form input {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.insert-form.disabled input {
  /* background-color: #f9f9f9;
  border-color: #ddd; */
  /* color: #999; */
  cursor: not-allowed;
  opacity: 0.8;
}

.insert-form input:focus {
  outline: none;
  border-color: #0078d7;
  box-shadow: 0 0 5px rgba(0, 120, 215, 0.5);
}

.insert-form.disabled input:focus {
  outline: none;
  box-shadow: none;
}

.insert-form button {
  width: 100%;
  padding: 10px;
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.insert-form button:hover {
  background-color: #005bb5;
}